.App {
  text-align: center;
}

.container {
  padding-top: 1em;
}

.jumbotron {
  padding-top: 1em;
  background-image: url(/src/components/assets/officeSpace2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 325px;
  color: white;
  background-color: #282c34;
  box-shadow: rgb(37, 25, 29) 0px 20px 30px -10px;
}

.card {
  padding: 1em;
  box-shadow: rgb(37, 25, 29) 0px 20px 30px -10px;
}